* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.homeDiv {
    height: 100vh;
    margin: auto;
    background:  hsl(130, 90%, 75%) url('./img/food-background.png');
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
}

.homeDiv img {
    display: none;
}

#welcome {
    background:  hsl(0, 0%, 60%) url('./img/heather-food.jpg');
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
}

.buttonDiv {
    margin-top: 5rem;
    padding: 3.5rem;
}

.titleLogo {
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    color: #14A508;
    padding: 100px 50px;
}

.formLogin {
    display: flex;
    flex-direction: column;
}

form input, button {
    width: 260px;
    height: 40px;
    margin: 0.5rem auto;
    padding-left: 2rem;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    border: 1px solid rgb(125, 118, 118);
    border-radius: 10px;
}

#buttonLogin, #buttonRegister {
    margin-top: 2rem;
    padding-left: 0;
    background-color: #14A508;
    border-color: #14A508;
    color: rgb(255, 255, 255);
}

.textRegister, .textLogin{
    margin-top: 3rem;
    text-align: center;
    font-size: 0.9rem;
}

.textRegister a, .textLogin a {
    font-size: 0.9rem;
    margin-left: 0.4rem;
    color: rgb(15, 58, 169);
}
/* -----Home----- */
.homeView {
    background: none;
}

.headerDiv {
    height: 50px;
    background: #1ed760;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logoDiv {
    width: 40px;
    height: 40px;
}

.logoDiv img{
    display: block;
    width: 40px;
    height: 40px;
}

.logOut {
    width: 30px;
    height: 30px;
}
.logOut img {
    display: block;
    width: 30px;
    height: 30px;
}

.headerTitle {
    width: 150px;
    font-size: 20px;
    font-family: 'Chicle', cursive;
    color: white;
}



@media only screen and (min-width: 768px) {
    .homeDiv {
        background: hsl(130, 90%, 75%) url('./img/food-backgroundDesktop.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .homeDiv img {
        display: block;
        height: 100vh;
        margin-right: 10rem;
    }

    #welcome {
        background: none;
        display: flex;
        flex-direction: row;
    }
    
    .buttonDiv {
        margin: 3rem;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }

    .buttonDiv button {
        margin: 10px;
    }
}