@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.homeDiv {
    height: 100vh;
    margin: auto;
    background:  hsl(130, 100%, 70%) url('./img/food-background.png');
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
}

.homeDiv img {
    display: none;
}

#welcome {
    background:  hsl(0, 0%, 70%) url('./img/heather-food.jpg');
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
}

.buttonDiv {
    margin-top: 5rem;
    padding: 3.5rem;
}

.imgLogoDiv, #imgLogo {
    width: 70px;
    height: 70px;
    display: block;
}

.logoTitleDiv {
    padding: 100px 50px;
    display: flex;
    align-items: center;
}
.titleLogo {
    font-size: 2.5rem;
    font-family: 'Chewy', sans-serif;
    text-align: center;
    font-weight: bolder;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #1ed760;
    color: #ffff;
}

#titleWelcome {
    color: hsl(120, 100%, 100%);
}

.formLogin {
    display: flex;
    flex-direction: column;
}

form input, button {
    width: 260px;
    height: 40px;
    margin: 0.5rem auto;
    padding-left: 2rem;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    border: 1px solid rgb(125, 118, 118);
    border-radius: 10px;
}

#buttonLogin, #buttonRegister{
    margin-top: 2rem;
    padding-left: 0;
    background-color: #1ed760;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
    font-size: 21px;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #7D7676;
}

#buttonPublication {
    margin-top: 2rem;
    padding-left: 0;
    background-color: #1ed760;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
}

.textRegister, .textLogin{
    margin-top: 3rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
}

.textRegister a, .textLogin a {
    font-size: 0.9rem;
    margin-left: 0.4rem;
    color: rgb(15, 58, 169);
}
/* -----Home----- */
.homeView {
    background: none;
    position: relative;
    
}

.headerDiv, .navDiv {
    height: 50px;
    background: #1ed760;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logoDiv {
    width: 70px;
    height: 70px;
}

.logoDiv img{
    display: block;
    width: 70px;
    height: 70px;
}

.logOut, .homeIcon, .publicationIcon, .profileIcon {
    width: 30px;
    height: 30px;
}
.logOut img, .homeIcon img, .publicationIcon img, .profileIcon img {
    display: block;
    width: 30px;
    height: 30px;
}

.headerTitle {
    width: 200px;
    font-size: 23px;
    font-family: 'Chewy', cursive;
    color: white;
    -webkit-text-stroke-width: 0.08px;
    -webkit-text-stroke-color: #9ea09e;
}
.headerDiv .logoDiv img {
    margin: 15px auto;
    width: 40px;
    height: 40px;
}

/* -----Publication----- */

.publicationDiv, .postExample {
    width: 315px;
    height: 120px;
    margin: 20px auto;
    background: #D9D9D9;
    border-radius: 10px;
}

.publicationDiv textarea {
    width: 285px;
    height: 45px;
    border-radius: 10px;
    margin: 10px 15px;
    font-size: 1rem;
    resize: none;
    padding: 0.4rem;
}

#buttonPublication {
    width: 125px;
    background-color: #1ed760;
    margin-top: 0;
    margin-left: 175px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
    
}

.navDiv {
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
}

.mensajeRegistro{
    color: red;
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
}

@media only screen and (min-width: 768px) {
    .homeDiv {
        background: hsl(130, 90%, 75%) url('./img/food-backgroundDesktop.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .homeDiv img {
        display: block;
        height: 100vh;
        margin-right: 10rem;
    }
    
    #welcome {
        background: none;
        display: flex;
        flex-direction: row;
    }
    
    .buttonDiv {
        margin: 3rem;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }

    .buttonDiv button {
        margin: 10px;
    }
}